<div class="app">
  <h2 class="title">ToDo App</h2>

  <div class="task" *ngFor="let note of notes">
    {{ note.description }}
    <span
      ><button class="btn btn-ui" (click)="deleteNotes(note.id)">
        Delete
      </button></span
    >
  </div>

  <form #todoForm="ngForm" (ngSubmit)="getTodoFormData(todoForm.value)">
    <!-- <label for="newNotes">New Notes:</label> -->
    <input
      type="text"
      ngModel
      name="task"
      placeholder="Enter Task"
      (input)="onInputChange()"
    />
    <button type="submit" class="btn btn-ui" [disabled]="isInputEmpty">
      Add Notes
    </button>
  </form>
</div>
